# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pb
*.tflite
# C extensions
*.so
*.ckpt.*
*.pkl
*.log
*.jpg
*.rec
*.idx
*.lst
*.o
*.npz
*.npy
*.pth
*.params
*.mar
*.rar
*.zip
.cache
*/.idea/

# Jupyter Notebook
.ipynb_checkpoints

.pyc
.so
*.data-00000-of-00001
*.index
*.meta
events.*
checkpoint
__pycache__/
*.json
*.zip
*.so
*~
*.pyc
*.png
*.tfrecord

erowvideosrc/svndownload/aiproject/.svn/


